<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Resent password</title>
    </head>
    <body>
        <p>

            Hello,
            <br />
            You requested for password reset using this email on
            {{site_name}}.

            <br />
            Click on the link to continue the password reset process:
            <br />
            {{link}}

            If you didn't initiate this process, kindly ignore and do not share
            this link.
            <br />

            Thanks for using our site!, The
            {{site_name}}
            team
        </p>
    </body>
</html>