<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Resent password</title>
    </head>
    <body>
        <p>
            Hello,Congratulations 🎉
            {{fullName}}.
            <br />
            You have successfully verified your account!

            <br />
            Now you can proceed to booking appointments for your recycled items.
            Take the next step to keep your environment clean!

            <br />
            Thanks for using our site!,
            <br />
            The
            {{site_name}}
            team
        </p>
    </body>
</html>